.container{
    display: flex;
    flex-direction: row;
}

.div1{
    background-color:#5ea083 ;
    width: 50%;
    height: 300px;
    border: 1px solid black;
}

.div2{
    background-color: aqua ;
    width: 50%;
    height: 300px;
    border: 1px solid black;
}