@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@media (max-width: 414px) {
    header {
        background-color: aliceblue;
    }

}

/*font-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    background-color: white;
}

.formzera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 190px;
}

body {
    background-color: whitesmoke;
}

main {
    min-height: calc(100vh - 100px);
    /* altura mínima é a altura da viewport (100vh) menos 100px para o footer */
}

input {
    flex-grow: 2;
    background-color: white;
    margin: 0px 10px;
    font-family: 'Ysabeau', sans-serif;
    font-size: 28px;
}

.pesquisa {
    width: 258px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 23px;

}

.button {
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.button:hover {
    background-color: #AFEEEE;
    cursor: pointer;
}

footer {
    font-family: 'Ysabeau', sans-serif;
    padding: 50px 40px 20px 40px;
    left: 0;
    bottom: 0;
    background-color: white;
    color: rgb(0, 0, 0);
}

.main-fut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.imgf {
    height: 120px;
}

.mains {
    margin: 0px 190px;
    margin-right: 190px;
    margin-left: 200px;
    margin-top: 30px;

}

.esquerda {
    height: 300px;
    width: 300px;
}

.direita {
    height: 300px;
    width: 300px;
}

.item {
    height: 150px;
}

.linha {
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 22px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.foto {
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    transition-duration: 0.1s;
}

.foto:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: white;
}

.end {
    padding: 10px 0px;
    font-weight: bold;
}