body {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

main {
    margin: 100px 60px 60px;
}

.container {
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: auto;
    background-color: rgba(0, 0, 128, 0);
    color: 5ea083;
    font-family: 'Belleza', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.containerp {
    padding: 50px 0px;
    height: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.containerp h1 {
    font-family: 'Belleza', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.containerp p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: auto;
    background-color: #e29ca8;
    border-radius: 150px;
}

.cirilo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 70px 0px;
    font-family: 'Poppins', sans-serif;
}

.produtos {
    padding: 10px 0px;
    width: 65%;
    display: flex;
    justify-content: space-around;
    color: black;
}

.produto {
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 56%;
    border: 0px solid black;
    display: flex;
    align-items: center;
}

.div1 p {
    padding: 0px 20px;
    font-size: 30px
}

.div2 {
    background-color: aqua;
    width: auto;
}

.image {
    border-radius: 100px;
    margin: auto;
}

.decoracao {
    border-top-left-radius: 150px;
    border-end-start-radius: 150px;
}

.redondo {
    border-radius: 150px;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.slide img {
    width: 400px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 3.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #FFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #FFF;
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 1200px) {
    .container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .redondo{
        width: 70%;
    }

    .div1 {
        display: flex;
        justify-content: center;
    }

    .div1 p {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 100px 30px;
    }

    .div1{
        width: 100%;
    }

    .div1 p{
        padding: 40px 20px;
        text-align: center;
    }

    .redondo{
        border-radius: 0px;
        width: 100%;
    }

    .decoracao {
        width: 100%;
        border-top-left-radius: 0px;
        border-end-start-radius: 0px;
    }

    .banner {
        flex-direction: column;
        border-radius: 0px;
    }

    .image {
        width: 70%;
        border-radius: 25px;
        margin: 5% auto;
    }
}

@media screen and (max-width: 860px) {
    .slider {
        width: 400px;
    }

    .manual-navigation {
        width: 400px;
    }

    .navigation-auto {
        width: 400px;
    }
}

@media screen and (max-width: 560px){
    .div1 p {
        font-size: 20px
    }
}

@media screen and (max-width: 500px) {
    main{
        margin: 140px 0px;
    }

    .slider {
        width: 100%;
    }

    .manual-navigation {
        width: 100%;
    }

    .navigation-auto {
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .containerp h1{
        font-size: 33px;
    }
}

@media screen and (max-width: 389px){
    .containerp h1{
        font-size: 27px;
    }
}