@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px #549B7E;
}


.formzera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 190px;
}

body {
    background-color: rgb(41, 41, 41);
}

main {
    min-height: calc(100vh - 100px);
    /* altura mínima é a altura da viewport (100vh) menos 100px para o footer */
}

input {
    flex-grow: 2;
    background-color: white;
    margin: 0px 10px;
    font-family: 'Ysabeau', sans-serif;
    font-size: 28px;
}

.button {
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.button:hover {
    background-color: #AFEEEE;
    cursor: pointer;
}

footer {
    font-family: 'Ysabeau', sans-serif;
    padding: 50px 40px 20px 40px;
    left: 0;
    bottom: 0;
    background-color: white;
    color: rgb(0, 0, 0);
}

.main-fut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.imgf {
    height: 120px;
}

.mains {
    margin: 0px 190px;
    margin-right: 190px;
    margin-left: 200px;
    margin-top: 30px;
    padding: 20px 0px;
}

.ocultlogo{
    display: none;
}

.esquerda {
    height: 300px;
    width: 300px;
}

.direita {
    height: 300px;
    width: 300px;
}

.link{
    padding: 5px 0px;
    border: 0px solid black;
    font-size: 18px;
}
.link:hover{
    background-color: #AFEEEE;
    transition: 0.8s;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    height: 150px;
}

.linha {
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 22px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.foto {
    box-shadow: 2px 2px 4px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition-duration: 0.1s;
    background-color: white;
}

.texto-foto{
    background-color: white;
}

.foto-redonda{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.foto:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: white;
    cursor: pointer;
}

.end {
    padding: 10px 0px;
    font-weight: bold;
}

.imgzap{
   display: flex;
   justify-content: center;
}

.hideb{
    display: none;
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 840px) {
    .esquerda {
        width: 200px;
    }
    
    .direita {
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    .main-fut {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: black;
    }

    .esquerda {
        width: 85%;
    }

    .imgzap{
        justify-content: left;
     }

    .meio{
        display: none;
    }

    .ocultlogo{
        display: flex;
        justify-content: center;
    }
    
    .direita {
        width: 85%;
    }
}

@media screen and (max-width: 560px){
    input {
        flex-grow: 0;
        margin: 0px 0px;
        font-size: 28px;
    }
    .formzera {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0px 0px;
    }
    .button{
        display: none;
    }
    .hideb{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 0px solid black;
        background-color: white;
        border-radius: 5px;
    }
    .hideb:hover{
        background-color: #AFEEEE;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
    }

    .formi{
        display: flex;
        align-items: center;
    }

    .barra{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Ysabeau', sans-serif;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        color: #000000;
        width: 150px;
        height: 95vh;
        padding: 20px 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.479);
    }

    .barra ul{
        list-style: none;
    }

    .barra li{
        font-size: 18px;
        border-radius: 5px;
        transition: 0.7s;
    }
    .barra li:hover{
        background-color: #AFEEEE;
        cursor: pointer;
    }

    .barra a{
        border-radius: 5px;
        padding: 5px 5px;
        display: block;
        text-decoration-line: none;
        color: black;
        width: 100%;
    }

    .fechar{
        font-size: 20px;
        font-weight: bold;
        border: 0px solid black;
        border-radius: 5px;
    }
}