.container{
    display: flex;
    flex-direction: row;
}

.div1{
    background-color:#5ea083 ;
    width: 50%;
    height: 300px;
    border: 1px solid black;
}

.div2{
    background-color: aqua ;
    width: 50%;
    height: 300px;
    border: 1px solid black;
}

.oi{
    width: 500px;
    height: 100%;
    
}

/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 100px;
  }
  
  .mySlides {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */